* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black; /*#F5F5F5;*/
    height: auto;
}

button{
    cursor: pointer;
}

a{
    color: black;
    cursor: pointer;
}

input{
    outline: none;
}

h1{
    text-align: center;
    padding: 25px; /*25*/
    font-family:  sans-serif;
    color: white;
    font-size: 24px; /*28*/
    /*border: 1px solid black;*/
}

h2{
    text-align: center;
    padding: 10px;
    font-family:  sans-serif;
    font-size: 20px;
    color: white;
    /*border: 1px solid black;*/
}

p{
    display: inline-block;
}

.fullScreen{
    width: 1300px;
    min-height: 750px;
    background-color: black;
    margin: 0 auto;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


img{
    width: 100%;
    height: 100%;
}

table{
    width: 700px; /*1000 800*/
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid white;
}

td{
    text-align: center;
    width: 500px;
    font-family: sans-serif;
    font-size: 20px; /*30 25*/
    color: white;
    border: 1px solid white;
}

.tableHeader{
    padding: 20px 0; /*30*/
}

.tableEntry{
    text-align: left;
    font-size: 14px; /*20 16*/
    font-family: sans-serif;
    letter-spacing: 2px;
    line-height: 30px; /*40*/
    padding: 0 10px; /*20*/
}

/*------------------------------------------------------
Main Body Content
-------------------------------------------------------*/
/*Colors: https://visme.co/blog/website-color-schemes/*/
.profile{
    width: 800px; /*1250 1000*/
    height: auto; /*360*/
    /*background-color: red;*/
    display: inline-block;
    padding: 30px;
    background-color: black;
    border-bottom: 1px solid white;
}

.profilePicContainer{
    width: 160px; /*250 200*/
    height: auto;
    padding: 10px;
    margin: 40px 0; /*65*/
    margin-left: 0px; /*40*/
    border: 5px solid black; /*#7BEBEB;*/
    border-radius: 500px;
    background-color: white; /*#D9FFDF;*/
    float: left;
    
}

.profilePicImage{
    border: 4px solid black; /*#7BEBEB;*/
    border-radius: 200px;
}

.profileParagraph{
    width: 560px; /*850 720*/
    height: 260px;
    margin-left: 20px; /*50*/
    padding: 30px 20px; /*40*/
    font-size: 13px; /*20 16*/
    font-family: sans-serif;
    letter-spacing: 2px;
    line-height: 30px; /*40 36*/
    color: white;
    /*border: 1px solid black;*/
    /*background-color: white;*/
    float: left;
}

.dataStructuresContainer{
    width: 800px; /*1250 1000*/
    height: auto;
    padding: 0 30px 30px 30px;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.algorithmsContainer{
    width: 800px; /*1250 1000*/
    height: auto;
    padding: 0 30px 30px 30px;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.arraysContainer{
    /*position: relative;*/
    display: inline-block;
    text-align: center;
    width: 220px; /*350 280 270*/
    min-height: 190px; /*300 260 240*/
    margin: 10px;
    border-radius: 30px;
    background-color: #D9FFFF;
    box-shadow: 1px 2px 10px 1px #888888;
}

.linkedListsContainer{
    position: relative;
    display: inline-block;
    width: 220px; /*350 280 270*/
    min-height: 190px; /*300 260 240*/
    margin: 10px;
    border-radius: 30px;
    background-color: #D9FFDF;
    box-shadow: 1px 2px 10px 1px #888888;
}

.stacksAndQueuesContainer{
    position: relative;
    display: inline-block;
    width: 220px; /*350 280 270*/
    min-height: 190px; /*300 260 240*/
    margin: 10px;
    border-radius: 30px;
    background-color: #FFFFCF;
    box-shadow: 1px 2px 10px 1px #888888;
}

.treesContainer{
    position: relative;
    display: inline-block;
    width: 220px; /*350 280 270*/
    min-height: 190px; /*300 260 240*/
    margin: 10px;
    border-radius: 30px;
    background-color: #FFDDDD;
    box-shadow: 1px 2px 10px 1px #888888;
}

.graphsContainer{
    position: relative;
    display: inline-block;
    width: 220px; /*350 280 270*/
    min-height: 190px; /*300 260 240*/
    margin: 10px;
    border-radius: 30px;
    background-color: #F5E1FD;
    box-shadow: 1px 2px 10px 1px #888888;
}

.hashMapsContainer{
    position: relative;
    display: inline-block;
    width: 220px; /*350 280 270*/
    min-height: 190px; /*300 260 240*/
    margin: 10px;
    border-radius: 30px;
    background-color: #FFDFD3;
    box-shadow: 1px 2px 10px 1px #888888;
}

.bubbleSortHomeContainer{
    position: relative;
    display: inline-block;
    width: 220px; /*350 280 270*/
    min-height: 190px; /*300 260 240*/
    margin: 10px;
    border-radius: 30px;
    background-color: #FBE8A6;
    box-shadow: 1px 2px 10px 1px #888888;
}

.mergeSortHomeContainer{
    position: relative;
    display: inline-block;
    width: 220px; /*350 280 270*/
    min-height: 190px; /*300 260 240*/
    margin: 10px;
    border-radius: 30px;
    background-color: #F4976C;
    box-shadow: 1px 2px 10px 1px #888888;
}

.quickSortContainer{
    position: relative;
    display: inline-block;
    width: 220px; /*350 280 270*/
    min-height: 190px; /*300 260 240*/
    margin: 10px;
    border-radius: 30px;
    background-color: #B4DFE5;
    box-shadow: 1px 2px 10px 1px #888888;
}

.dfsContainer{
    position: relative;
    display: inline-block;
    width: 220px; /*350 280 270*/
    min-height: 190px; /*300 260 240*/
    margin: 10px;
    border-radius: 30px;
    background-color: #C5CBE3;
    box-shadow: 1px 2px 10px 1px #888888;
}

.bfsContainer{
    position: relative;
    display: inline-block;
    width: 220px; /*350 280 270*/
    min-height: 190px; /*300 260 240*/
    margin: 10px;
    border-radius: 30px;
    background-color: #D2FDFF;
    box-shadow: 1px 2px 10px 1px #888888;
}

.binarySearchContainer{
    position: relative;
    display: inline-block;
    width: 220px; /*350 280 270*/
    min-height: 190px; /*300 260 240*/
    margin: 10px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 10px 1px #888888;
}

.category:hover{
    cursor: pointer;
    background-color: lightgreen; /*lightgreen;*/
    color: black;
    box-shadow: 1px 2px 10px 10px #888888;
}

.categoryText{
    /*border: 1px solid black;*/
    border-radius: 30px;
    padding: 8px 0; /*10*/
    margin: 10px;
    font-size: 16px; /*25*/
    font-weight: 600;
    font-family: sans-serif;
}

.categoryImage{
    text-align: center;
    width: auto;
    min-height: auto;
    padding: 5px 0px;
    margin: 0px 20px;
    border: 3px solid black;
    border-radius: 0px;
    background-color: white;
}

.categoryImage img{
    /*min-height: 100px;*/
}

/*------------------------------------------------------
Header Styling
-------------------------------------------------------*/

/*Header*/
header{
    
    padding-top: 15px;
    padding-left: 20px;
    width: auto;
    min-width: 1300px;
    border-bottom: 2px solid black;
    position: relative;
    background-color: white;
    display: inline-block;
    /*border: 1px solid black;*/
}

.name{
    width: 160px; /*210*/
    height: auto;
    padding: 10px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    float: left;
    color: black;
    /*border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;*/
}

.navbar{
    width: auto;
    min-width: 10px; 
    height: auto;
    font-family: sans-serif;
    background-color: white;
    float: right;
    /*border-bottom: 1px solid black;*/
}

.navbar a{
    float: left;
    font-size: 12px; /*16 14*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .mainHeader{
    width: 180px; /*250 225*/
    font-size: 13px; /*14*/
    outline: none;
    color: black;
    padding: 18px 16px;
    background-color: white;
    font-family: inherit;
    margin: 10;
    height: 50px;
    text-transform: uppercase;
    border-left: 1px solid lightgrey;
    
}

.dropdownContent{
    width: 180px; /*250 225*/
    display: none;
    position: absolute;
    margin-top: 50px;
    background-color: white;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.dropdownContent a{
    float: none;
    color: black;
    padding: 12px 16px;
    border-bottom: 1px solid black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownContent a:hover{
    background-color: lightgreen;
    font-weight: normal;
}

.dropdown:hover .dropdownContent{
    display: block;
    
}

.dropdown:hover .mainHeader{
    font-weight: bold;
}

ul,li,li a

{
    /*color:#36454f;*/
    color: #182a55; /*#7BEBEB;*/
    font-family:  sans-serif;
    
}

li a:hover
{
    color:midnightblue;
    
}

/*------------------------------------------------------
Footer Styling
-------------------------------------------------------*/
footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
    margin-top: 60px;
}


/* Stick footer to bottom of the page*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* line up social footer */

.ft-social{
    background-color: #FDF8F2;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    /*padding-top: 1.25rem;*/
    /*padding: 10px 0;*/
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    
}


/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/*------------------------------------------------------
LinkedLists
-------------------------------------------------------*/
.sectionDivider{
    width: 800px; /*1250 1000*/
    min-height: auto;
    display: inline-block;
    padding: 30px;
    background-color: black;
    border-bottom: 1px solid white;
    text-align: left;
}

.paragraph{
    width: 700px; /*1100 880 */
    margin: 0 auto;
    padding: 16px; /*30 20*/
    font-size: 14px; /*20 16*/
    font-family: sans-serif;
    letter-spacing: 2px;
    line-height: 30px; /*40 36*/
    text-indent: 80px; /*100*/
    color: white;
    /*border: 1px solid black;*/
    /*background-color: white;*/
}

.noTopPadding{
    padding-top: 0;
}

.removeIndent{
    text-indent: 0px;
}

.code{
    width: 560px; /*700*/
    min-height: 0px; /*100*/
    margin: 30px auto;
    padding: 20px; /*30*/
    font-size: 16px; /*25 20*/
    font-weight: bold;
    font-family: courier new;
    letter-spacing: 0px;
    line-height: 25px; /*40*/
    color: black;
    background-color: white;
    border-radius: 20px;
    /*border: 1px solid black;*/
    /*background-color: white;*/
}

.codeWide{
    width: 680px; /*1000 850*/
}

.codeWideFinal{
    width: auto;
}

.doubleline{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.codePurple{
    color: purple;
}

.codeComment{
    color: green;
}

.indent1{
    text-indent: 50px;
}

.indent2{
    text-indent: 100px;
}

.indent3{
    text-indent: 150px;
}

.indent4{
    text-indent: 200px;
}

.indent5{
    text-indent: 250px;
}


.headerLeft{
    text-align: left;
}

.sectionImage{
    text-align: center;
    width: auto;
    min-height: auto;
    padding: 40px 50px; /*40 50*/
    margin: 20px 40px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
}

.sectionImageTall{
    text-align: center;
    width: 220px; /*275*/
    height: auto;
    min-height: auto;
    padding: 20px 30px;
    margin: 20px auto; /*30 auto*/
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/*------------------------------------------------------
Sorting Visualizer - Project
-------------------------------------------------------*/

.containerGUI{
    width: auto; /*1000*/
    min-height: 630px;
    margin: 0px auto;
    padding: 20px; /**/
    font-size: 25px;
    font-weight: bold;
    font-family: courier new;
    letter-spacing: 2px;
    line-height: 40px;
    color: black;
    background-color: darkblue;
    /*border-radius: 20px;*/
    text-align: center;
    position: relative;
}

.containerButtons{
    width: auto;
    height: auto;
    /*background-color: white;*/
    /*border: 1px solid black;*/
    padding: 10px;
}

.containerBars{
    width: 700px; /*1040 880*/
    height: auto;
    /*background-color: black;*/
    position: absolute;
    bottom: 0;
}

.objectBar{
    width: 1px; /*2px*/
    height: 9px;
    margin: 0 1px;
    background-color: red;
    display: inline-block;
    position: relative;
    bottom: 0;
}

.sortButton{
    width: 100px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    color: white;
    background-color: black;
}







